@import 'vars.scss';
@import 'fonts.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;

}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
  overflow-x: auto;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}